.root {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  grid-gap: 0.25rem;
  padding-top: 0.25rem;
}

.content {
  padding: 0.25rem 0 0.5rem;
}

.userIcon {
  margin: auto;
  color: var(--text-secondary);
  font-size: 1.25rem;
}

.username {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
}

.content a {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-secondary);
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}

.content pre {
  overflow: auto;
  padding: 0.5rem;
}

@media (max-width: 500px) {
  .content a {
    max-width: 250px;
  }
  .content pre {
    max-width: 250px;
  }
}
