.root {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 0.5rem 0;
}

.user {
  display: inline-flex;
  align-items: center;
  color: var(--text-secondary);
  font-size: 1rem;
}

.userIcon {
  margin-right: 0.25rem;
}

.userName {
  font-size: 0.825rem;
  font-weight: 700;
}

.content a {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-secondary);
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}

.content pre {
  overflow: auto;
  padding: 0.5rem;
}

@media (max-width: 500px) {
  .content a {
    max-width: 250px;
  }
  .content pre {
    max-width: 250px;
  }
}
