.root {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.logoText {
  display: flex;
  flex-direction: column;
}

.pageName {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color);
}

.poweredBy {
  font-size: 0.75rem;
}
