.root {
  background-color: white;
  min-height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid var(--lightgrey);
}
.logo {
  flex: 1;
}
