.root {
  width: 100%;
  min-height: var(--item-height);
  --item-padding: 1rem;
  --item-height: 8rem;
  --blur-width: 200px;
  --blur-size: var(--blur-width) 100%;
  --title-width: 100%;
  --title-height: 2rem;
  --title-position: 0 var(--item-padding);
  --details-width: 200px;
  --details-height: 1rem;
  --url-width: 75%;
  --url-height: 1rem;
  --details-position: 0 calc(var(--item-padding) + var(--title-height) + 0.5rem);
  --url-position: 0
    calc(
      var(--item-padding) + var(--title-height) + var(--details-height) + 1rem
    );
}

.root:empty::after {
  content: "";
  display: block;
  width: 100%;
  height: var(--item-height);
  background-image: linear-gradient(
      90deg,
      transparent 0,
      rgba(255, 255, 255, 0.8) 50%,
      transparent 100%
    ),
    linear-gradient(var(--lightgrey) 30px, transparent 0),
    linear-gradient(var(--lightgrey) 100%, transparent 0),
    linear-gradient(var(--lightgrey) 100%, transparent 0),
    linear-gradient(white 100%, transparent 0);

  background-size: var(--blur-size), var(--title-width) var(--title-height),
    var(--details-width) var(--details-height),
    var(--url-width) var(--url-height), 100% 100%;
  background-position: -150% 0, var(--title-position), var(--details-position),
    var(--url-position), 0 0;
  background-repeat: no-repeat;
  animation: loading 2.5s infinite;
}

@keyframes loading {
  to {
    background-position: 350% 0, var(--title-position), var(--details-position),
      var(--url-position), 0 0;
  }
}
