@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");

:root {
  box-sizing: border-box;
  --primary-color: #ff6600;
  --primary-color-dark: #b44600;
  --primary-color-light: #ff751a;
  --text-primary: #272727;
  --text-secondary: #7d7f80;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
}

@media (max-width: 960px) {
  :root {
    font-size: 87.5%;
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 75%;
  }
}
